[defaults]
# Point directly to our YAML inventory
inventory = ./inventory/hosts.yml

# Disable SSH key checking because Docker rebuilds wipe known_hosts
host_key_checking = False

# Default user for our Docker containers
remote_user = root

# Number of parallel SSH connections
forks = 5

[privilege_escalation]
become = True
become_method = sudo
become_user = root